/* section-featured-news-section */

.news-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.news-item {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 10px; /* Adicionado para o hover não ficar colado ao conteúdo */
    border-radius: 12px; /* Bordas arredondadas no item inteiro */
    transition: background 0.3s ease, transform 0.2s ease;
}

.news-item:hover {
    background-color: var(--accent-green-b);
    cursor: pointer;
    transition: background 0.3s ease;
    transform: translateX(5px);
}

.news-thumb {
    width: 60px;
    height: 60px;
    background-color: var(--dark-blue-m);
    border-radius: 50%;
    flex-shrink: 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.news-item:hover .news-thumb {
    transform: scale(1.1); 
}

.news-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.news-content h2, h4{
    color: var(--dark-blue);
}

.tags {
    display: flex;
    gap: 5px;
    margin-top: 4px;
}

.tags span{
    color: var(--dark-blue-m);
}

.tag-sq {
    width: 15px;
    height: 15px;
    background-color: var(--accent-green);
    border-radius: 3px;
}
